
.error-message {
  width: 100%;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message:hover {
  background-color: #f5c6cb;
  border-color: #f1b0b7;
}

.outer-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #238fe8 50%, #ffffff 50%);
}
.password-container {
  position: relative;
}
.forget__password {
  width: 100%;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.forget__password a {
  font-size: 14px;
  color: #0078d7;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.forget__password a:hover {
  color: #005cbf;
  text-decoration: underline;
}

.password-container input {
  width: 100%;
  padding-right: 50px; 
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #666;
  transition: transform 0.3s ease, color 0.3s ease;
  animation: fadeIn 0.5s ease;
}



.login-container {
  display: flex;
  width: 80%;
  max-width: 900px;
  height: 80%;
  background: linear-gradient(to right, #238fe8 50%, #ffffff 50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.branding {
  text-align: center;
  margin-top: 30px;
  padding: 40px 20px 20px 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 350px; 
}

.branding h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  margin-top: 30px;
}

.branding p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.branding::before {
  content: "";
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../../assets/login.webp"); 
  background-size: cover;
  background-position: center;
  border: 4px solid white; 
}

.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 80%;
  max-width: 400px;
  text-align: left;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #0078d7;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #1746ef;
  display: inline-block;
  padding-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-group input:focus {
  border-color: #1746ef;
}

.login-button {
  width: 50%;
  padding: 10px;
  background-color: #0078d7;
  color: white;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: block;
  margin: 0 auto;
}

.login-button:hover {
  background-color: #005cbf;
  box-shadow: 0 0 15px #0078d7;
}
.forget__password {
  width: 100%;
}
