body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px; 
  background-color: #2c3e50;
  color: #ecf0f1;
  transition: width 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.sidebar.expanded {
  width: 170px; 
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -35px;
  background-color: #34495e;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle-btn:hover {
  transform: scale(1.1);
  background-color: #1abc9c;
}

.logo {
  font-size: 24px;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  border-bottom: 1px solid #34495e;
  font-family: "Roboto", sans-serif;
  transition: font-size 0.3s ease;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  width: 100%;
  margin: 10px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.menu ul li a i {
  font-size: 20px;
  margin-right: 20px;
  transition: transform 0.3s ease;
}

.sidebar.collapsed .menu ul li a span {
  display: none;
}

.sidebar.collapsed .menu ul li a i {
  margin-right: 0;
  transform: scale(1.2);
}

.menu ul li a:hover {
  background-color: #1abc9c;
  border-radius: 10px;
}

.menu ul li a i:hover {
  transform: rotate(15deg);
}
